.contacts {
  width: 320px;
  margin: 0 auto;
  padding: 44px 0 35px 44px;
}

.contacts__list {
  .list-default();
}

.contacts__title {
 color: @darkblue;
  font-size: 24px;
   line-height: auto;
   font-weight: 300;
}

.contacts__text {
   color: @darkblue;
  font-size: 18px;
   line-height: auto;
   font-weight: 700;
}

.contacts__item p {
  color: #d22856;
  font-size: 24px;
   line-height: auto;
   font-weight: 300;
}
