.contacts {
  width: 320px;
  margin: 0 auto;
   text-align: center;
}

.contacts__wrap {
padding: 44px 37px 0 43px;
}

.contacts__list {
  .list-default();
}

.contacts__title {
 color: @darkblue;
  font-size: 24px;
   font-weight: 300;
   margin: 0 0 40px 0;
   padding: 0;

}

.contacts__text {
   color: @darkblue;
  font-size: 18px;
   font-weight: 700;
   margin: 0;
   padding: 0;
}

.contacts__phone,
.contacts__mail,
.contacts__adress {
  color: @red;
  font-size: 24px;
   font-weight: 300;
   margin: 0 0 20px 0;
   padding: 0;
   cursor: pointer;
}

.contacts__mail:hover {
 color: @darkblue;
 text-decoration: underline;
}

.contacts__mail:active {
  opacity: 0.3;
}

.contacts__adress {
  margin-bottom: 35px;
}

.contacts__google-map {
  height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.contacts__decoration {
  width: 320px;
  height: 34px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
   background-size: 100%;
}
