.download {
  background: #1d2631;
  padding: 28px 20px;
}

.download__button {
  color: #ffffff;
  font-size: 18px;
   line-height: 18px;
   font-weight: 700;
   cursor: pointer;
}

.download__list {
   .list-default();
}

.download__link {
  cursor: pointer;
}

.download__text {
   color: #ffffff;
  font-size: 14px;
   line-height: 24px;
   font-weight: 300;
}
