.edit {
   width: 320px;
 margin: 0 auto;
padding: 0;
}

.edit__title {
  color: @darkblue;
  font-size: 14px;
   line-height: 30px;
   font-weight: 400;
   padding: 0;
   margin: 40px auto;
   width: 256px;
   text-align: center;
}

.edit__content {
  background: @gray;
}

.edit__wrap {
  padding: 20px 20px 34px 20px;
}

.edit__button {
    display: block;
    width: 280px;
    padding: 14px 88px 17px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
     background-color: @gray;
    text-align: center;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}

.edit__buttons {
  padding: 0 20px 40px 20px;
}

.edit__button--submit {
 color: @red;
 border: 3px solid @red;
  margin-bottom: 12px;
  &:hover,
  &:focus {
     color: #ffffff;
     background-color: @red;
  }
    &:active {
     color: rgba(255, 255, 255, 0.3);
     background-color: @red;
  }
}


.edit__button--reset {
 color: rgba(40, 54, 69, 0.1);
 border: 3px solid rgba(40, 54, 69, 0.1);
   &:hover,
  &:focus {
   color: rgba(40, 54, 69, 0.3);
 border: 3px solid rgba(40, 54, 69, 0.3);
  }
    &:active {
     color: rgba(255, 255, 255, 0.3);
     background-color: #b5b9be;
     border: 3px solid #b5b9be;
  }
}

.edit__filters {
 width: 200px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 42px auto 0;
}

.edit__filter-toggle {
  display: block;
  cursor: pointer;
}

.edit__range-filter {
  display: block;
  width: 240px;
  background: inherit;
    border: none;
    outline: none;
   -webkit-appearance: none;
   margin: 0 auto;
}

.edit__icon {
 fill: @darkblue;
 opacity: 0.3;
}

.edit__icon:hover {
 opacity: 0.5;
}

.edit__icon:active {
  fill: @red;
  opacity: 1;
  }


.edit__range-filter::-webkit-slider-runnable-track {
    height: 2px;
   background-color: @darkblue;
}

.edit__range-filter::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 14px;
    height: 14px;
    border: 2px solid @red;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -6px;
}

.edit__range-filter::-webkit-slider-thumb:active {
   background-color: @red;
}

.edit__filter-btn1:checked + .edit__icon {
  fill: @red;
  opacity: 1;
}

.edit__filter-btn2:checked + .edit__icon {
  fill: @red;
  opacity: 1;
}

.edit__filter-btn3:checked + .edit__icon {
  fill: @red;
  opacity: 1;
}


.edit__range {
  padding-bottom: 34px;
  border-bottom: 1px solid #dddfe0;
  margin-bottom: 38px;
}



