.gallery {
 width: 320px;
 margin: 0 auto;
 padding: 0;
}

.gallery__text {
  width: 244px;
  margin: 45px 38px 47px;
  padding: 0;
color: @darkblue;
  font-size: 14px;
   line-height: 30px;
   font-weight: 400;
   text-align: center;

}

.gallery__bottom-wrap {
 padding: 0 20px;
}

.gallery__link-panorama {
  display: block;
  position: relative;
}

.gallery__panorama {
  display: block;
  line-height: 0;
}

.gallery__panorama img {
  width: 100%;
}

.gallery__panorama-flag {
  display: block;
  position: absolute;
  width: 140px;
  padding: 6px 0;
  top: 0;
  right: 20px;
  text-align: center;
  background: @red;
  color: #ffffff;
  font-size: 12px;
   line-height: 24px;
   font-weight: 700;
}

.gallery__list {
  .list-default();
}

.gallery__comment-name {
  padding: 0;
  margin: 0;
}

.gallery__link-item {
  display: block;
  line-height: 0;
}

.gallery__comment-name {
  color: @darkblue;
  font-size: 14px;
   line-height: 24px;
   font-weight: 700;
}

.gallery__comment-time {
   font-weight: 300;
}

.gallery__comment-content {
  padding: 0 0 15px 0;
  margin: 0;
   color: @darkblue;
  font-size: 14px;
   line-height: 24px;
   font-weight: 400;
}

.gallery__comment,
.gallery__wrap-comment {
  background: @gray;
  padding: 20px 0 20px 17px;
}

.gallery__comment-like {
  display: flex;
}

.gallery__button-like {
  display: block;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.gallery__comment-like-me {
   color: @red;
  font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
   margin-left: 18px;
}

.gallery__item {
  margin-top: 20px;
}
