.gallery {
 width: 320px;
 margin: 0 auto;
 padding: 0;
}

.gallery__text {
color: @darkblue;
  font-size: 14px;
   line-height: 30px;
   font-weight: 400;
}

.gallery__bottom-wrap {
 padding: 0 20px;
}

.gallery__panorama-flag {
  background: @red;
  color: #ffffff;
  font-size: 12px;
   line-height: 24px;
   font-weight: 700;
}

.gallery__list {
  .list-default();
}

.gallery__comment-name {
  color: @darkblue;
  font-size: 14px;
   line-height: 24px;
   font-weight: 700;
}

.gallery__comment-time {
   font-weight: 300;
}

.gallery__comment-content {
   color: @darkblue;
  font-size: 14px;
   line-height: 24px;
   font-weight: 400;
}

.gallery__list {
  background: #f2f2f2;
}

.gallery__comment-like-me {
   color: @red;
  font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
}
