

.main-nav__list {
  .list-default();
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  display: block;
  height: 25px;
  width: 75px;
  cursor: pointer;
  fill: #ffffff;
  &:hover {
  fill: @red;
  }

  &:active {
   fill: rgba(255, 255, 255, 0.3);
  }
}



.main-nav__menu {
  background-color: @darkblue;
  padding: 20px;
}

.main-nav--closed .main-nav__menu {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__promo {
   background-image: url("../img/bkg-mobile-header.jpg");
   background-repeat: no-repeat;
    min-height: 461px;
    margin-top: -66px;
}

.main-nav--closed {
  position: relative;
}

.main-nav--open {
 display: flex;
 flex-direction: column;
  position: relative;
}

.main-nav__item {
  text-align: center;
  background-color: @darkblue;
   padding: 15px 0;
    border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

 .main-nav--closed .main-nav__item {
    display: none;
  }


.main-nav__item a {
  color: #ffffff;
  font-size: 18px;
   line-height: 32px;
   font-weight: 700;
   text-transform: uppercase;
}

.main-nav__item a:hover,
.main-nav__item a:focus {
  color: @red;
}

.main-nav__item a:active {
   color: rgba(255, 255, 255, 0.3);
}

.main-nav__item--active a {
  border-bottom: 2px solid #ffffff;
}

.main-nav__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 26px;
  background-color: @darkblue;
  cursor: pointer;
  border: none;
}



.main-nav--open .main-nav__button {
  &::before,
  &::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  }

  &::before {
  transform: rotate(45deg);
  }
  &::after {
  transform: rotate(-45deg);
  }
}

.main-nav--open .main-nav__menu {
  border-bottom: 1px solid #000000;
}

.main-nav--closed .main-nav__button {
  &::before {
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
   }
}

