.page-header {
 width: 320px;
 margin: 0 auto;
 color: #ffffff;
 background-color: @darkblue;
 display: flex;
 flex-direction: column;
}

.page-header {
  &--index {
    .page-header__wrap {
       background: url("../img/bkg-mobile-header.jpg") no-repeat;
    }
  }

}


// .page-header__wrap-form,
// .page-header__wrap-photo {
//   background: url("../img/bg-back-mobile@1x.jpg");
// }

.page-header__title {
  color: #ffffff;
  font-size: 24px;
   line-height: auto;
   font-weight: 300;
}


// @media (min-width: @tablet-width) {
//   .page-header {
//  width: 660px;
// }

// .page-header {
//   &--index {
//     .page-header__wrap {
//        background: url("../img/bkg-tablet-header.jpg") no-repeat;
//     }
//   }
// }

// }
