.tariff {
  background: @gray;
  width: 320px;
  margin: 0 auto;
   background-image: url("../img/bg-triangle-white.svg");
   background-repeat: no-repeat;
   background-size: 120%;
   padding: 90px 0 100px 0;
   position: relative;
    overflow: hidden;
}


.tariff__list {
 border-collapse: collapse;
 margin: 0;
 padding: 0;
}

.tariff__cols {
  padding: 0;
  margin: 0;
}


.tariff__list-header {
  background: @darkblue;
}

.tariff__name {
  display: block;
   color: #ffffff;
  font-size: 18px;
   line-height: 30px;
   font-weight: 700;
}

.tariff__cost {
  display: block;
  color: #ffffff;
  font-size: 24px;
   line-height: 30px;
   font-weight: 300;
}

.tariff__cols {
   color: @darkblue;
  font-size: 14px;
   line-height: 30px;
   font-weight: 400;
   border: 2px solid #e5e5e5;
   width: 260px;
   padding: 14px 17px 14px 22px;
}

.tariff__list-row {
  background: #ffffff;
}

.tariff__cols--hidden {
  display: none;
}

.tariff__first-cols {
  display: none;
}

.tariff__option--mobile {
display: block;
}

 .tariff__cols-wrap {
  display: flex;
  justify-content: space-between;
 }

.tariff__icon--ok {
  display: block;
  width: 32px;
  height: 24px;
   background-image: url("../img/icon-yes.svg");
   background-repeat: no-repeat;
   background-position: 50% 100%;
   background-size: cover;
}

.tariff__icon--cancel {
  display: block;
  width: 28px;
  height: 28px;
   background-image: url("../img/icon-no.svg");
   background-repeat: no-repeat;
   background-position: 50% 100%;
   background-size: cover;
}

.tariff__item-header {
   padding: 14px 0;
   border-right: 2px solid #e5e5e5;
   position: relative;
}

.tariff__flag-hit {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: -2px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.tariff__flag-hit span {
 display: block;
  color: #ffffff;
  font-size: 14px;
   line-height: 30px;
   font-weight: 600;
 transform: rotate(-45deg) translateX(-12px);

}

.tariff__controls label {
display: block;
width: 6px;
height: 6px;
border-radius: 50%;
background: #bec2c7;
position: relative;
cursor: pointer;
}

.tariff__controls {
  position: absolute;
  width: 62px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 129px;
  bottom: 42px;
}

.tariff__button--1:checked ~ .tariff__list {
  transform: translateX(280px);
    transition: .5s;
}

.tariff__button--2:checked ~ .tariff__list {
  transform: translateX(0);
    transition: .5s;
}

.tariff__button--3:checked ~ .tariff__list {
  transform: translateX(-280px);
    transition: .5s;
}

.tariff__button--1:checked ~ .tariff__controls .tariff__label--1,
.tariff__button--2:checked ~ .tariff__controls .tariff__label--2,
.tariff__button--3:checked ~ .tariff__controls .tariff__label--3 {
    border: 3px solid #000000;
   box-sizing: content-box;
   background: #ffffff;
}
